[Desktop Entry]
Type=Application
Name=Sketerm Files
GenericName=File Manager
Comment=Local and remote files over the sketerm-mux daemon
TryExec=sketerm-files
Exec=sketerm-files %U
Icon=dev.sker.sketerm.files
Categories=System;FileTools;FileManager;
MimeType=inode/directory;x-scheme-handler/file;
StartupNotify=true
StartupWMClass=dev.sker.sketerm.files
Terminal=false
Keywords=files;browser;remote;ssh;explorer;manager;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=sketerm-files
